$golden: #b29948;

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a1a;
    color: #bdbcb3;
    margin: 0;

    a {
        color: $golden;
    }
}

%flex-centered {
    display: flex;
    justify-content: center;
}

header {
    @extend %flex-centered;
}

.index-page {
    text-align: center;
}

.sports-container  {
    justify-content: space-around;
}
